/* BASLINE GRIDS
/*
/* Vetical Rhythm
/*
/* DATUM: 16rem;
/* Hang: 48rem;
/*
/* COMBINED: 64rem;
/*
/* */

/* FONTS */

/* Mono */

@font-face {
  font-family: "LeagueMono";
  src: url("../fonts/LeagueMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/* Serif */

@font-face {
  font-family: "Goudy";
  src: url("../fonts/GoudyStM-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/* Sans Serif */
@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/LeagueSpartan-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Junction";
  src: url("../fonts/junction-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Junction";
  src: url("../fonts/junction-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Junction";
  src: url("../fonts/junction-light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

html {
  color: #1c244a;
  font-family: "Junction", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

body {
  /* background-color: #dcf2df; */
  background: repeating-linear-gradient(
    180deg,
    #efefef,
    #efefef 4rem,
    #dfdfdf 4rem,
    #dfdfdf 8rem
  );
}

h1 {
  font-size: 8rem;
  line-height: 8rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  position: relative;

  color: rgb(255, 94, 196);
  font-family: "LeagueSpartan", Arial, sans-serif;
  text-shadow: -0.6rem 0.6rem #1c244a;
}

h2 {
  font-size: 5rem;
  line-height: 8rem;
  padding-top: 3rem;
  margin-bottom: 1rem;
  position: relative;
  color: rgb(255, 94, 196);
  font-family: "LeagueSpartan", Arial, sans-serif;
}

h3 {
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  position: relative;
  color: rgb(255, 94, 196);
  font-family: "LeagueSpartan", Arial, sans-serif;
}

h4 {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  position: relative;
  font-family: "LeagueSpartan", Arial, sans-serif;
}

a {
  color: rgb(255, 94, 196);
  text-decoration: none;
}

p {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 4rem;
  padding-top: 1.7rem;
  margin-bottom: 2.3rem;
  letter-spacing: 0.12rem;
  position: relative;
}

code pre {
  background-color: #fffafa;
  border-radius: 8px;
  box-shadow: inset -1px 1px 3px #1c244a30;
  color: #362500;
  font-size: 1.4rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  overflow-x: auto;
  padding: 0.8rem 20px 0 20px;
  position: relative;
  text-shadow: -0.2rem 0.1rem #1c244a20;
}

p code {
  background-color: #f2fcff;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

input {
  height: 4rem;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

span {
  vertical-align: top;
}

pre {
  font-family: "LeagueMono", Courier, monospace;
  font-weight: 400;
}

section {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 740px;
  align-items: center;
}

.demo_area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-width: 300px;
  background-color: #f5fdff;
}

input[type="button"] {
  font-family: "LeagueMono", Courier, monospace;
  background-color: rgb(255, 94, 196);
  color: #f5fdff;
  font-size: 1.6rem;
  padding: 2px;
  border-radius: 4px;
}

input[type="button"]:hover {
  border: 2px solid #1c244a;
  padding: 0px;
}

input[type="button"]:active {
  background-color: #1c244a;
}

.demo_area__vertical {
  font-family: "LeagueMono", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5fdff;
  border-radius: 20px;

}

.leverage_state__buttons {
  width: 12rem;
  position: relative;
  top: -1.6rem;
  display: flex;
  justify-content: space-between;
}

.leverage_params__sums {
  min-width: 12rem;
  position: relative;
  top: -1.6rem;
  display: flex;
  justify-content: space-between;
}

.count_display {
  margin-right: 2rem;
}