/* BASLINE GRIDS
/*
/* Vetical Rhythm
/*
/* DATUM: 16rem;
/* Hang: 48rem;
/*
/* COMBINED: 64rem;
/*
/* */

/* FONTS */

/* Mono */

@font-face {
  font-family: "LeagueMono";
  src: url("../fonts/LeagueMono-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/* Serif */

@font-face {
  font-family: "Goudy";
  src: url("../fonts/GoudyStM-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

/* Sans Serif */
@font-face {
  font-family: "LeagueSpartan";
  src: url("../fonts/LeagueSpartan-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Junction";
  src: url("../fonts/junction-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Junction";
  src: url("../fonts/junction-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Junction";
  src: url("../fonts/junction-light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

html {
  color: #262017;
  color: #9c8738;
  color: #374691;
  color: #1c244a;
  color: #263061;
  color: #1c244a;
  font-family: "Junction", Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Goudy", Georgia, "Times New Roman", Times, serif; */
  font-weight: 400;

  /* debug */
  /* background: repeating-linear-gradient(
    180deg,
    #dedede,
    #dedede 4rem,
    #efefef 4rem,
    #efefef 8rem
  ); */
}

body {
  /* background-color: #dae8e5; */
  background-color: #dae0df;
  background-color: #e3e6e4;
  background-color: #c5d4c7;
  background-color: #f2f7f2;
  background-color: #c0ff7d;
  background-color: #e0ffbf;
  background-color: #bad9bd;
  background-color: #dcf2df;
  /* background-color: #fafffc; */
  /* background-color: #f5fff9; */

  /* background-color: rgb(166, 255, 71); */
}

h1 {
  font-size: 8rem;
  line-height: 8rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  position: relative;

  color: rgb(255, 94, 196);
  font-family: "LeagueSpartan", Arial, sans-serif;
}

h2 {
  font-size: 5rem;
  line-height: 8rem;
  padding-top: 3rem;
  margin-bottom: 1rem;
  position: relative;
  color: rgb(255, 94, 196);
  font-family: "LeagueSpartan", Arial, sans-serif;
}

h3 {
  font-size: 2.4rem;
  line-height: 4rem;
  padding-top: 1.6rem;
  margin-bottom: 2.4rem;
  position: relative;
  color: rgb(255, 94, 196);
  font-family: "LeagueSpartan", Arial, sans-serif;
}

h4 {
  font-size: 2rem;
  line-height: 4rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  position: relative;
  font-family: "LeagueSpartan", Arial, sans-serif;
}

ul {
  box-sizing: border-box;
  border: none;
  font-size: 1.6rem;
  line-height: 4rem;
}

/* p,
li,
pre,
code {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 4rem;
  position: relative;
} */

p {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 4rem;
  padding-top: 1.7rem;
  margin-bottom: 2.3rem;
  letter-spacing: 0.12rem;
  /* margin-top: 1.2rem; */
  /* margin-bottom: 2.8rem; */
  position: relative;
}

code pre {
  padding: 20px;
  border-radius: 8px;
  box-sizing: content-box;
  font-size: 1.6rem;
  line-height: 4rem;
  margin-bottom: 2.3rem;
  margin-top: 1.2rem;
  margin-bottom: 2.8rem;
  position: relative;
  background-color: rgb(255, 217, 196);
  background-color: #f2fcff;
  background-color: #fffafa;
  color: #1c244aee;
  color: #362500;
  /* color: #755400; */
  /* color: #594000; */
  /* color: #4a3500; */
  font-size: 14px;

  box-shadow: inset -1px 1px 3px #1c244a30;

  text-shadow: -0.2rem 0.1rem #1c244a20;
  /* background-color: #fff2f2; */
  /* background-color: #fff5f5; */

  overflow-x: auto;
}

li {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding-top: 2.4rem;
  /* padding-top: 1.7rem; */
  /* margin-top: 1.2rem; */
  /* margin-bottom: 2.8rem; */
  position: relative;
}

ul {
  box-sizing: border-box;
  margin-bottom: 4rem;
  position: relative;
}

code {
  background-color: rgb(255, 217, 196);
  background-color: #ffeae3;
  background-color: #f2fcff;
}

input {
  height: 4rem;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

span {
  vertical-align: top;
}

pre {
  font-family: "LeagueMono", Courier, monospace;
  font-weight: 400;
}

span code {
  font-size: 1.4rem;
  position: relative;
  /* margin-top: -0.1rem; */
  /* margin-bottom: -0.1rem; */
}

section {
  /* we want chunked height differences by our DAT*/
  /* margin-bottom: 1rem; */
  position: relative;
  margin: 0 auto 0 auto;
  margin-bottom: 12rem;
  max-width: 740px;

}

main {
  /* we want chunked height differences by our DAT*/
  padding: 0;
  margin: 0;
}
